Url Encode Issue

**Describe the bug**
failed to encode URL component

**Screenshots**
all turn on
![image](https://user-images.githubusercontent.com/59929978/84358738-2807e080-abfa-11ea-8a7f-bfcc7b0a1201.png)

when I encode URL component manually, it's ok
![image](https://user-images.githubusercontent.com/59929978/84358835-4e2d8080-abfa-11ea-988e-a682fc0fcde4.png)
but when I do not, it's not ok
![image](https://user-images.githubusercontent.com/59929978/84359233-eaf01e00-abfa-11ea-8e6e-9324d96f2456.png)




**App information (please complete the following information):**
 - Native App
 - version: 
![image](https://user-images.githubusercontent.com/59929978/84358970-85039680-abfa-11ea-8f87-f9e078e7555b.png)

 - OS: win 1909 18363.836


Looks like the query processor used in the requester server treats `+` as `spaces`.
According to the URL Standards, `+` is a safe character and does not require mandatory percent-encoding.

This is similar to every other client and browsers. Are you expecting Postman to automatically encode `+` in query parameters?

@codenirvana 
yes, I want postman to encode every param
I try in chrome
![image](https://user-images.githubusercontent.com/59929978/84369108-f5b1af80-ac08-11ea-9d49-e294fcba5f05.png)
same problem

Considering this as a feature request.
Note: Since this is non-standard, this feature will be enabled via a per-request setting.

 I think this feature will be very useful. 

our users use + sign in their emails, like myemail+something@gmail.com

we use Postman to reproduce login issues and see plus not URL encoded, which our server expects and treats + as a space.



When using the key/value UI, some characters are encoded (`&` and `=`), while others are not (`+` and `%`).
From a user experience perspective, I'd expect the UI to have consistent behavior - either I have to enter escaped strings, or the app encodes them for me. 
I think it should escape all characters that has to be escaped. If I want to manage my own escaping logic, I can use raw body and do whatever I want.

@codenirvana is this feature implemented?

If I activate **Encode URL automatically** and **Use next generation URL processing**, I expect parameters to be encoded, including `+` characters.

Maybe it's just me, but it doesn't really make sense to me that some special characters (for example `/`) in a GET-parameter  arrive intact on the server, but others (i.e. `+`) get mangled into spaces. Is this expected behaviour? 

I'm using the Postman Desktop app, version 7.32.0 on Mac OSx.

@codenirvana I'm on the latest version (7.33.1) and I can still reproduce this issue. '+' in query parameters still goes out as a blank space.

I have just lost 3 or 4 hours to this bug.

If I turn on automatic encoding, I need Postman to ensure that my literal values will be sent to the server in a way that the server will be able decode them and read them as they were set. The fact that Postman does the right thing when injecting variable as values into headers, post params, and body payloads but then has different behavior when dealing with url params is very unexpected.

If I run a script that sets `foo='100%'`, and then I make a request with `/path?foo={{foo}}` I get a `400` back from the server b/c of the illegal lone `%` in the query string. I feel like I should have to be trying a lot harder than this to coerce the software into sending malformed requests.

The whole reason to use a tool like Postman is to unburden yourself from the obnoxious little pieces like URL encoding and instead reason about the larger logic of how one’s API acts in complex multi-step chains.

I second this bug report. To let the user decide, having a checkbox to automatically encode all query params would be great.

This problem seems to persist in the newest version as well

The problem still occurs on postman v8.7.0

Still an issue in v9.0.2

Still an issue in v9.14.0

Still an issue in 9.15.2

The '+' char is considered as a separator (ie a space).
This is not valid when sending a date.
A query parameter for a date (date=2021-04-08T19:32:01+02:00) is received as '2021-04-08T19:32:01 02:00' on the server and can't be parsed.
Same discussion here: https://stackoverflow.com/questions/54294843/plus-sign-not-encoded-with-resttemplate-using-string-url-but-interpreted

A hack is to make use of the Pre-request Script in Postman.

Paste the following in the Pre-request Script section. This will transform all our params in the Request Url to be encoded.
Thus all the `+` sign would be encoded to `%2B` 

```javascript
var querycount = pm.request.url.query.count();
for(let i = 0; i < querycount; i++) {
  pm.request.url.query.idx(i).value = encodeURIComponent(pm.request.url.query.idx(i).value);
}
```

> According to the URL Standards, + is a safe character and does not require mandatory percent-encoding.

Which exact standards are you referring to here?

According to section 8.2 of [RFC1866](https://www.rfc-editor.org/rfc/rfc1866#section-8.2), browsers looking to send form data in a GET request should add `?` to the URI and then append the form data encoded using the `form-urlencoded` encoding from section 8.2.1. In that encoding, all space characters are replaced by `+`, and `+` characters are URL-encoded. Given that, the only way for a web framework to comply with this RFC is to assume that a `+` character in the query part of a URI refers to a space and not to the `+` character.

It's crazy that this is still an issue. Thanks @mhtmalpani for the snippet

> ```js
> var querycount = pm.request.url.query.count();
> for(let i = 0; i < querycount; i++) {
>   pm.request.url.query.idx(i).value = encodeURIComponent(pm.request.url.query.idx(i).value);
> }
> ```

Thanks

> A hack is to make use of the Pre-request Script in Postman.
> 
> Paste the following in the Pre-request Script section. This will transform all our params in the Request Url to be encoded. Thus all the `+` sign would be encoded to `%2B`
> 
> ```js
> var querycount = pm.request.url.query.count();
> for(let i = 0; i < querycount; i++) {
>   pm.request.url.query.idx(i).value = encodeURIComponent(pm.request.url.query.idx(i).value);
> }
> ```

Thanks !

You can also handle environment variables this way

```js
var querycount = pm.request.url.query.count();
for(let i = 0; i < querycount; i++) {
    const value = pm.environment.replaceIn(pm.request.url.query.idx(i).value)
    pm.request.url.query.idx(i).value = encodeURIComponent(value);
}
```

> Looks like the query processor used in the requester server treats `+` as `spaces`. According to the URL Standards, `+` is a safe character and does not require mandatory percent-encoding.
> 
> This is similar to every other client and browsers. Are you expecting Postman to automatically encode `+` in query parameters?

where did you get these "url standards" from? 

https://www.w3.org/Addressing/URL/uri-spec.html
https://www.rfc-editor.org/rfc/rfc1630.txt
` Within the query string, the plus sign is reserved as shorthand notation for a space. Therefore, real plus signs must be encoded. This method was used to make query URIs easier to pass in systems which did not allow spaces.`

https://developers.google.com/maps/url-encoding
lists plus sign under Reserved 

https://datatracker.ietf.org/doc/html/rfc3986#section-2.2
lists plus sign under reserved characters (sub-delims) which is used for delimiting stuff, if you search a little apparently because older stuff meant spaces with plus sign or something.

i'm pretty sure when I type a plus sign into a human input box, I mean it as a real plus sign. even regular javascript encodes it in the expected format.

why is this issue still open for years, and why are developers so insistent on pushing their own wrong ideas or knowledge, when these indisputably correct standards, specifications and rules defined years ago are used in like literally 100% of sane applications except postman?

I'm guessing it's a fix in postman-request/lib/url-parse.js in function charactersToPercentEncode, but what the hell do I know, apparently these developers have some wise knowledge not accessible by us mortals, that plus sign is a safe character when literally every resource and application tells otherwise.

Interesting to note that when you generate a curl request in postman desktop it produces the correct encoding for the plus sign.

This is a bug, and it has been known to be a bug. The developer @codenirvana has obviously never read the HTTP RFCs, and is persisting in some kind of absurd insistence that "+" is a "safe character". Depressing all around. Shades of Newtonsoft promiscuous date parsing in this insistence on preserving wrong behaviour.

I've just encountered this issue when interacting with CrowdStrike APIs.

@codenirvana , @giridharvc7 Could this please be addressed?

Still an issue

@codenirvana Have you bothered reading the RFCs yet so you can learn that "+" is not a safe character, since it is a metacharacter interpreted as space? Or are you going to continue insisting you're right in the face of all sense?

absolutely weird behavior, i had to escape values manually to pass date like:
2024-12-18T21:21:00.000%2B03:00
instead of
2024-12-18T21:21:00.000+03:00

This is still an issue almost five years later!

In version 11.56.0 `+` character is still not converted to `%2B` by default and there's no way to change the behavior. One can only convert it manually in the script. Update to new version has taken down most of ours regression tests. It should be configurable in global or per-request settings.